{
  "EXTRACT_BACKEND_URL": "https://extract-backend-dev.foundationai.com",
  "EXTRACT_EMAIL": "",
  "EXTRACT_PASSWORD": "",
  "DB_HOST": "",
  "DB_PORT": 5432,
  "DB_NAME": "xtract",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "FILEVINE_API_URL": "https://api.filevineapp.com/fv-app/v2",
  "FILEVINE_CLIENT_ID": "",
  "FILEVINE_CLIENT_SECRET": "",
  "FILEVINE_PAT": "",
  "FILEVINE_ORG_ID": "",
  "FILEVINE_USER_ID": "",
  "FILEVINE_SCOPE": "fv.api.gateway.access tenant filevine.v2.api.* openid email fv.auth.tenant.read filevine.v2.webhooks",
  "EXTRACT_NEOSTELLA_PMS_EMAIL": "",
  "EXTRACT_NEOSTELLA_PMS_PASSWORD": "",
  "NEOSTELLA_API_URL": "https://api.neostella.app",
  "NEOSTELLA_TOKEN_URL": "https://api.neostella.app/v1/oauth2/token",
  "NEOSTELLA_CLIENT_ID": "",
  "NEOSTELLA_CLIENT_SECRET": ""
}
